# Ensemble Learning

## Initial Imports

In [36]:
import warnings
warnings.filterwarnings('ignore')

In [37]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [105]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Import train_test_split from sklearn
from sklearn.model_selection import train_test_split

# Import the StandardScaler for Data Pre-Processing
from sklearn.preprocessing import StandardScaler

from imblearn.ensemble import BalancedRandomForestClassifier

# Import the Easy Ensemble Classifier (EEC)
from imblearn.ensemble import EasyEnsembleClassifier

## Read the CSV and Perform Basic Data Cleaning

In [39]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [40]:
# Create our features
X = df.copy()
X = X.drop(columns = 'loan_status')

# Create our target
y = df['loan_status']

### Encoding Data using `One-Hot Encoding`

In [41]:
# Encoding Data using `One-Hot Encoding`
X = pd.get_dummies(X)
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [42]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [43]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [44]:
# Split the X and y into X_train, X_test, y_train, y_test
# Create X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

# Shape X_train
X_train.shape

(51612, 95)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [45]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [118]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
39692,10000.0,0.1131,328.86,49000.0,24.54,0.0,0.0,10.0,1.0,6580.0,...,0,1,0,1,0,1,1,0,1,1
37830,21000.0,0.1072,684.74,57400.0,34.52,0.0,0.0,12.0,0.0,18688.0,...,0,1,0,1,0,1,1,0,1,1
64531,35000.0,0.0881,1109.90,180000.0,3.01,0.0,2.0,7.0,0.0,836.0,...,0,1,0,1,0,1,1,0,1,1
28730,20000.0,0.0819,628.49,80000.0,26.51,0.0,0.0,15.0,0.0,2615.0,...,0,1,0,1,0,1,1,0,1,1
35102,12600.0,0.1356,427.96,71000.0,22.38,1.0,2.0,7.0,0.0,9073.0,...,0,1,0,1,0,1,1,0,1,1

In [47]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [113]:
#X_train_scaled

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [48]:
# Resample the training data with the BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(random_state=1)

In [49]:
# Calculated the balanced accuracy score
y_pred = brf.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.7871246640962729

In [53]:
# Display the confusion matrix

pd.DataFrame(confusion_matrix(y_test, y_pred), 
            index = ["High Risk (Predicted Positive)", "Low Risk (Predicted Negative)"], 
            columns = ["Positive", "Negative"])

                                Positive  Negative
High Risk (Predicted Positive)        58        29
Low Risk (Predicted Negative)       1582     15536

In [51]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.67      0.91      0.07      0.78      0.59        87
   low_risk       1.00      0.91      0.67      0.95      0.78      0.62     17118

avg / total       0.99      0.91      0.67      0.95      0.78      0.62     17205

In [102]:
# List the features sorted in descending order by feature importance
feature_importances = brf.feature_importances_ 
indices = np.argsort(feature_importances)[::-1]
for i in range(X.shape[1]):
    if len(X.columns.values[indices[i]])> 27: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t({feature_importances[indices[i]]})")
    elif len(X.columns.values[indices[i]])> 25: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t\t({feature_importances[indices[i]]})")
    elif len(X.columns.values[indices[i]])>24: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t({feature_importances[indices[i]]})")
    elif len(X.columns.values[indices[i]])>19: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t\t({feature_importances[indices[i]]})")
    elif len(X.columns.values[indices[i]])>11: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t\t\t({feature_importances[indices[i]]})")
    elif len(X.columns.values[indices[i]])>9: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t\t\t\t({feature_importances[indices[i]]})")
    elif len(X.columns.values[indices[i]])>8: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t\t\t\t({feature_importances[indices[i]]})")        
    elif len(X.columns.values[indices[i]])<4: 
        print(f"{i:02d} {X.columns.values[indices[i]]}:\t\t\t\t\t({feature_importances[indices[i]]})")

00 total_rec_prncp:			(0.07376667607601396)
01 total_rec_int:			(0.06390324452717588)
02 total_pymnt_inv:			(0.06073336071656837)
03 total_pymnt:				(0.05811195697921674)
04 last_pymnt_amnt:			(0.04951778391272079)
06 out_prncp:				(0.020398879691407974)
07 dti:					(0.018625883307901298)
08 max_bal_bc:				(0.018378884967316288)
09 issue_d_Jan-2019:			(0.017480030880564042)
10 installment:				(0.01698703048268034)
11 annual_inc:				(0.01661321625916749)
13 mths_since_recent_inq:		(0.015821923028819504)
14 total_bc_limit:			(0.015385686591272854)
15 out_prncp_inv:			(0.015337070167127763)
16 avg_cur_bal:				(0.01506649550412446)
17 issue_d_Mar-2019:			(0.014926455495755147)
18 revol_bal:				(0.014924489307566175)
19 mo_sin_old_rev_tl_op:		(0.014583210727445232)
20 total_bal_ex_mort:			(0.01428231366275729)
21 tot_cur_bal:				(0.014238473969302518)
22 mo_sin_old_il_acct:			(0.014067369111282934)
23 total_bal_il:			(0.01351439379612201)
24 bc_open_to_buy:			(0.013343855077273033)
26 tot_hi_cred_lim:			(0.013106005248709657)
28 total_il_high_credit_limit:		(0.012104219411815444)
29 num_rev_accts:			(0.011927748948209041)
30 total_rev_hi_lim:			(0.011194718062040365)
31 mths_since_recent_bc:		(0.01072808547266412)
32 pct_tl_nvr_dlq:			(0.010485766778776592)
33 total_acc:				(0.010480039757813501)
34 mths_since_rcnt_il:			(0.010433852907121713)
35 mo_sin_rcnt_rev_tl_op:		(0.010171477424921242)
36 num_rev_tl_bal_gt_0:			(0.00990081847673844)
37 loan_amnt:				(0.00982912014219909)
38 inq_last_12m:			(0.009709211384642156)
39 num_bc_tl:				(0.00939406635676521)
40 num_op_rev_tl:			(0.009390960836832822)
41 mo_sin_rcnt_tl:			(0.008883434647669785)
42 num_actv_bc_tl:			(0.008287412625195438)
43 total_cu_tl:				(0.00794880573688952)
44 percent_bc_gt_75:			(0.007944596002325902)
46 num_actv_rev_tl:			(0.007813875400824535)
48 acc_open_past_24mths:		(0.007420667106687749)
50 num_il_tl:				(0.007339507170175945)
51 open_il_24m:				(0.006876404000725424)
52 num_bc_sats:				(0.00678542812487817)
53 open_act_il:				(0.006660043732852357)
54 open_rv_24m:				(0.006599809671624734)
56 total_rec_late_fee:			(0.006391381020548387)
57 num_tl_op_past_12m:			(0.006065825838862652)
58 open_acc_6m:				(0.006004776142662084)
59 next_pymnt_d_Apr-2019:		(0.005920335354841418)
60 open_rv_12m:				(0.005413306654546768)
61 open_il_12m:				(0.005248840731650208)
62 issue_d_Feb-2019:			(0.00487120814476765)
63 next_pymnt_d_May-2019:		(0.004802823221798599)
64 inq_last_6mths:			(0.0047562588132075015)
65 delinq_2yrs:				(0.0045238834578884635)
66 num_accts_ever_120_pd:		(0.0039029173953907185)
67 tot_coll_amt:			(0.003789677267237295)
68 home_ownership_OWN:			(0.0020853638216694215)
69 home_ownership_MORTGAGE:		(0.0020060097354201176)
70 verification_status_Source Verified:	(0.001984067551288744)
71 verification_status_Verified:	(0.0018789153640443002)
72 verification_status_Not Verified:	(0.0018544555674736187)
73 home_ownership_RENT:			(0.0016995259802440514)
74 pub_rec_bankruptcies:		(0.001520907850775936)
76 initial_list_status_f:		(0.0013879548937552864)
77 application_type_Individual:		(0.001239058844214324)
78 num_tl_90g_dpd_24m:			(0.0011046122443753368)
79 initial_list_status_w:		(0.000805030988421211)
80 application_type_Joint App:		(0.000710297252940571)
81 collections_12_mths_ex_med:		(0.0006949062181389056)
82 home_ownership_ANY:			(0.00013272979926763346)
83 num_tl_30dpd:			(0.0)
84 num_tl_120dpd_2m:			(0.0)
85 hardship_flag_N:			(0.0)
86 collection_recovery_fee:		(0.0)
87 recoveries:				(0.0)
88 pymnt_plan_n:			(0.0)
89 chargeoff_within_12_mths:		(0.0)
90 acc_now_delinq:			(0.0)
91 policy_code:				(0.0)
92 tax_liens:				(0.0)
93 delinq_amnt:				(0.0)
94 debt_settlement_flag_N:		(0.0)

### Easy Ensemble Classifier

In [114]:
# Train the Classifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [115]:
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9254565671948463

In [116]:
# Display the confusion matrix
pd.DataFrame(confusion_matrix(y_test, y_pred), 
                         index = ["High Risk (Predicted Positive)", "Low RIsk (Predicted Negative)"], 
                         columns = ["Positive", "Negative"])

                                Positive  Negative
High Risk (Predicted Positive)        79         8
Low RIsk (Predicted Negative)        978     16140

In [117]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205

### Final Questions

1. Which model had the best balanced accuracy score?

  Easy Ensemble Classifier has a better balanced accuracy score of 92%

2. Which model had the best recall score?

   Easy Ensemble Classifier has the best recall score.

3. Which model had the best geometric mean score?

    Easy Ensemble Classifier has the best geometric mean score 

4. What are the top three features?

- total_rec_prncp
- total_rec_int
- total_pymnt_inv